
.main__container {
    margin: 0 auto 15px auto;
    width: 80vw;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.messaging__container {
    border: 1px solid #cccccc;
    display: flex;
    background: #fff;
    margin: 10px;
}

.user__container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid #cccccc;
    button {
        margin: 10px 0;
    }
}

.empty__chat__details {
    flex: 3 1;
    padding: 0 15px;
    height: 78vh;
    max-height: 78vh;
    padding-bottom: 15px;
    text-align: left;
}
