.chat__list {
    border-right: 1px solid #cccccc;
    flex: 1;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .header {
        border-bottom: 1px solid #cccccc;
        padding: 5px 7px;
        box-sizing: border-box;
        line-height: 0;
        input {
            width: 100%;
            border: 0;
            padding: 5px;
        }
    }
    li {
        display: block;
        color: #000;
        font-size: 14px;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: 1px solid #cccccc;
        cursor: pointer;
        &.active {
            background-color: #4CAF50;
            color: white;
        }
        &:hover:not(.active) {
            background-color: #555;
            color: white;
        }
    }
}
